{% include 'header.html.twig' %}

	<div class="container-fluid">
		<div class="PhotoContainer">
			<img src="/{{pic['pic']}}" class="Photo"/>
		</div>
		<div class="UserInfoAndTagsContainer">
			<div class="UserInfoContainer">
				
				<img src="data:image/jpeg;base64,{{usr['avatar']}}" class="Avatar"/>
				
				<div class="Info">
					<a href="/Profile/{{usr['login']}}">
							<label>{{usr['login']}}</label>

			</div>
			<div class="TagsContainer">
				<div class="Tag">
				{% for tag in tags %}
				<a href="">{{tag}}</a> 
				{% endfor %}
				</div>
			</div>
			<div class="CommentsContainer">
				<div class="Likes">
					Likes:<label id="likes">{{likes}}</label>
					<div style="display:none;" id="liked">{{liked}}</div>
				</div>
				{% for comm in comms %}
					<div class="Comment">
					
					<div class="Date">
						{{comm['date']}} 
					</div>
					<div class="Author">
						{{comm['login']}} 
					</div>
					<div class="Content">
						{{comm['content']}} 
					</div>
					<div style="clear:both;"></div>
					</div>
				{% endfor %}
				{% if loggedIn==TRUE %}
					<div class="CommentAdd">
						<form class="CommentInput" action="/Profile/Photo/NewComment/{{pic['id']}}" method="post">
							<input type="text" class="CommentInputContent"  name="CommentContent" id="CommentContent">
							<input type="submit" class="CommentInputButton" value="Dodaj Komentarz"/>
						</form>
					</div>
				{% endif %}
				{% if loggedIn==TRUE %}
					<div class="LikeButton">
						<div style="display:none;" id="picId">{{pic['id']}}</div>
						<div style="display:none;" id="login">{{login}}</div>
						<button onclick="like();"><3</button>
							
					</div>
				{% endif %}
			</div>
		</div>
		
	</div>
	</div>
	<script>
		function like()
		{
			var id=document.getElementById("picId").innerHTML;
			var login=document.getElementById("login").innerHTML;
			var action="/Profile/Photo/AddLike/"+id+"/"+login;
			$.ajax({
				url:action,
			type:'POST',
			data:
			{
				
			}
			});
			var liked=document.getElementById("liked").innerHTML;
			
			
			var count=parseInt(document.getElementById("likes").innerHTML);
			
			if(liked=="0")
			{
				
				document.getElementById("likes").innerHTML=count+1;
				liked="1";
				document.getElementById("liked").innerHTML=liked;
				
			}
			else
			{
				
				document.getElementById("likes").innerHTML=count-1;
				liked="0";
				document.getElementById("liked").innerHTML=liked;
			}
			
		}
	</script>
{% include 'footer.html.twig' %}