{% include 'header.html.twig' %}


	<div class="container-fluid">


	<form action ="/Search" method="post">
		<input type="text" class ='form-control inputs' id = "SearchedArgument" name ="SearchedArgument" placeholder="{{placeholder}}" >
		<button type="submit" class = "btn btn-default buttons">Wyszukaj</button>
	</form>


		<div class="">
			{% if pic %}
				{% for p in pic %}
					<div class="tile curved single_pic flexible-tile">
			<div class="PicturesInfo">
				<img src="data:image/jpeg;base64,{{p['usr']['avatar']}}" class="avatar" height="30px" width="30px" />
				<label style="margin-left: 30px;">{{p['usr']['login']}}</label>
			</div>
			<div class="PicturesContainer">
				<a href="/Profile/Photo/{{p['id']}}">
					<img src="/{{p['pic']}}" class="Pictures"/>
				</a>
			</div>
			<div class="PicturesButton">
				<button class="btn btn-default buttons" onclick="like('{{session.CurrentUser.login}}', {{p['id']}}, {{p['liked']}} );"><i class="fas fa-thumbs-up likeico"></i>Lubię to!</button>
				Likes:<div id="{{p['id']}}" class="btn btn-default buttons">{{p['likes']}}</div>
				<div style="display:none;" id="pidd">{{p['id']}}</div>
				<div style="display:none;" id="plogg">{{p['usr']['login']}}</div>
			</div>
			<div class="commentsSection">
				{% for comms in p['comm'] %}
					<div class="Comment">
					
					<div class="Date">
						{{comms['date']}} 
					</div>
					<div class="Author">
						{{comms['login']}} 
					</div>
					<div class="Content">
						{{comms['content']}} 
					</div>
					<div style="clear:both;"></div>
					</div>
				{% endfor %}
				{% if session.CurrentUser is defined %}
					<div class="CommentAdd">
						<form class="CommentInput" action="/Profile/Photo/NewComment/{{p['id']}}" method="post">
							<input type="text" class="CommentInputContent"  name="CommentContent" id="CommentContent">
							<input type="submit" class="CommentInputButton" value="Dodaj Komentarz"/>
						</form>
					</div>
				{% endif %}
				{% if session.CurrentUser is defined %}
					<div class="LikeButton">
						<div style="display:none;" id="picId">{{p['id']}}</div>
						<div style="display:none;" id="login">{{session.CurrentUser.login}}</div>
							
					</div>
				{% endif %}
			</div>
		</div>
				{% endfor %}
			{% else %}
				<label>Brak zdjęć</label>
			{% endif %}
		</div>
		
		<script>
		function like(loginno, picid, likedd)
		{
			var id=document.getElementById("picId").innerHTML;
			var login=document.getElementById("login").innerHTML;
			var action="/Profile/Photo/AddLike/"+picid+"/"+loginno;
			$.ajax({
				url:action,
			type:'POST',
			data:
			{
				
			}
			});
			var liked=document.getElementById(picid).innerHTML;
			
			
			var count=parseInt(document.getElementById(picid).innerHTML);
			
			if(likedd=="0")
			{
				
				document.getElementById(picid).innerHTML=count+1;
				liked="1";
				document.getElementById(picid).innerHTML=liked;
				
			}
			else
			{
				
				document.getElementById(picid).innerHTML=count-1;
				liked="0";
				document.getElementById(picid).innerHTML=liked;
			}
			
		}
	</script>

{% include 'footer.html.twig' %}