{% include 'header.html.twig' %}

<div class="container-fluid">
	<div style="width:900px;margin-left:auto;margin-right:auto;">

		<div>
			{% if users is defined %}
				{% for user in users %}
					<div class="PicturesMainContainer">
						<a href="/Profile/{{user['login']}}">
						<div class="PicturesContainer">
							<img width=100px height=100px src="data:image/jpeg;base64,{{user['avatar']}}" />
						</div>
						</a>
						<label>{{user['login']}}</label>
					</div>
				{% endfor %}
			{% else %}
				<label>Brak użytkowników</label>
			{% endif %}
		</div>
		
	</div>
						
						<!-- TAGI -->
	<div style="width:900px;margin-left:auto;margin-right:auto;">

		<div>
			{% if pictures is defined %}
				{% for pic in pictures %}
					<div class="tile curved single_pic flexible-tile">
						<!--<div class="PicturesInfo">
							
						</div>-->
						<div class="PicturesContainer">
							<a href="/Profile/Photo/{{pic['id']}}">
								<img src="/{{pic['pic']}}" class="Pictures"/>
							</a>
						</div>
						
						<!--<div class="PicturesButton">
							<button class="btn btn-default buttons"><i class="fas fa-thumbs-up likeico"></i>Lubię to!</button>
							<button class="btn btn-default buttons"><i class="fas fa-comment-alt likeico"></i>Pokaż komentarze</button>
						</div>-->
					</div>
				{% endfor %}
			{% else %}
				<label>Brak zdjęć</label>
			{% endif %}
		</div>
		
		</div>
		
	</div>


{% include 'footer.html.twig' %}